[submodule "magphase"]
	path = magphase
	url = https://github.com/CSTR-Edinburgh/magphase.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "ffmpeg-normalize"]
	path = ffmpeg-normalize
	url = https://github.com/slhck/ffmpeg-normalize.git
