*.sp
*.mgc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

vocoder/
wavs_syn/
.ipynb_checkpoints/
data/
misc/test_getopt.sh
*.wav
*.ipynb
*.h5
*.txt
*.out
