*.sp
*.mgc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
.ipynb_checkpoints/
data/
data
job.sh
import.sh
misc/test_getopt.sh
*.wav
*.ipynb
*.h5
*.hdf5
*.txt
*.out
*.swp
*.swn
*.swo
*.est
stanford-corenlp-full-2018-02-27
*.log
*.zip
temp*